* {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

body {
  margin: 2em;
  background: #ccf;
}

#content {
  margin: 1em;
  background: #fff;
  padding: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

p {
  margin: 1em;
}

ul, ol {
  margin-left: 3em;
}